.footer{
    background-image: linear-gradient(to right, #000000, #070607, #0c0c0e, #0f1113, #111516, #161a1a, #1a1e1e, #1f2321, #272a28, #2e312f, #363836, #3e3f3e);
    color: rgb(255, 255, 255);
    bottom: 0; 
    width: 100%;
    padding: 1rem;
}